[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[[source]]
url = "http://slgramihqaims90.info53.com:3030/simple"
verify_ssl = false
name = "seapypi"

[dev-packages]
mkdocs = "*"
mkdocs-material = "*"
pymdown-extensions = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
setuptools = "*"
twine = "*"
wheel = "*"

[packages]
aiohttp = "*"
aiodns = "*"
better-exceptions = "*"
cchardet = "*"
delorean = "*"
ldap3 = "*"
#sealib_base = "*"
tenacity = "*"

[requires]
python_version = "3.7"
